@import '../main.scss';
.page {
  position: relative;
  //width: 100%;
  height: 100%;
  min-height: 100%;
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
    min-height: 100%;
    //padding-right: 320px;
    transition: all .2s ease-out 0s;

    .nav-box {
      width: 300px;
      margin: 30px auto 0;

      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &>li:nth-child(1) {
          i {
            &:before{
              @include tip-icon(home-icon)
            }
          }
        }
        &>li:nth-child(2) {
          i {
            &:before{
              @include tip-icon(pencil-icon)
            }
          }
        }
        &>li:nth-child(3) {
          i {
            &:before{
              @include tip-icon(tags-icon)
            }
          }
        }
        &>li:nth-child(4) {
          i {
            &:before{
              @include tip-icon(list-icon)
            }
          }
        }
        &>li:nth-child(5) {
          i {
            &:before{
              @include tip-icon(flag-icon)
            }
          }
        }
        .link {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 12px;
          translate: all;

          > i {
            font-size: 15px;
            margin-bottom: 2px;
          }
        }
        .link:hover {
          transform: scale(1.1)
        }

      }
    }
    .container {
      width: 80%;
      height: 100%;
      min-height: 100%;
      min-width: 700px;
      margin: 50px auto 0;
    }
  }
  .main-go-left {
    margin-right: 320px;
  }

  .float-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 100px;
    transition: all .2s ease-out 0s;

    .item {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      font-size: 18px;
      color: white;
      cursor: pointer;
      background: black;
    }

    &>.item:nth-child(1) {
      i {
        &:before{
          @include tip-icon(sliders-icon)
        }
      }
    }

    &>.item:nth-child(2) {
      i {
        &:before{
          @include tip-icon(arrow-up-icon)
        }
      }
    }
  }

  .icon-go-left {
    right: 350px;
  }

}

@media screen and (max-width: 1020px) {
  .page {
    .main-go-left {
      margin-right: 0;
    }

    .icon-go-left {
      right: 30px;
    }
  }

}