:global {
  .head {
    width: 100%;
    min-width: 700px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #24292e;

    //.top-tips {
    //  position: absolute;
    //  right: 0;
    //  width: 100px;
    //  line-height: 0;
    //  display: flex;
    //  align-items: center;
    //  justify-content: space-between;
    //  > a {
    //    color: white;
    //  }
    //}

    .content {
      position: relative;
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      >form {
        display: flex;
        align-items: center;
      }
      >a {
        color: white;
        margin-right: 20px;
      }
      .search-form {
        background: rgba(0, 0, 0, .125);
        //display: flex;
        //align-items: center;
        //justify-content: space-around;
        color: white;
        > input {
          //background: rgba(0, 0, 0, .125);
          width: 280px;
          height: 30px;
          //border-radius: 2px;
          margin-right: 20px;
          color: black;
        }
      }
    }
  }

}

