@import "loadin";
@import "font-awesome/scss/path";

:global {
  .hide {
    display: none;
  }
  blockquote {
    padding: 20px;
    margin-bottom: 25px;
    background-color: #f7f7f7;
    border-left: 6px solid #b4b4b4;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}